.workCa {
  padding-bottom: 64px;

  .step {
    width: 480px;
    margin: 42px auto 48px;
  }

  .content {
    h2 {
      margin-bottom: 24px;
      margin-top: 32px;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #222;
    }

    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #fff;
      border: 1px solid #e8e8e8;
      box-sizing: border-box;
      border-radius: 4px;
      height: 76px;
      padding: 0 16px;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 16px;

      .btn {
        display: flex;
        align-items: center;
      }
    }
  }
}
