html,
body,
#root {
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  min-width: 768px;
  position: relative;
  height: 100%;
}


* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  word-break: break-word;
  box-sizing: border-box;
  user-select: none
}

ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
  list-style: none;
}

:global(.clearfix::after) {
  display: table;
  clear: both;
  content: '';
}

.ant-layout-content {
  margin: 24px 64px 96px 0;
  max-width: 1600px;
  min-width: 720px;
  height: max-content !important;
}

.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
  // box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
  box-shadow: none;
  background: #f8f8f8;
}

.ant-pro-sider.ant-layout-sider-collapsed .ant-pro-sider-logo {
  padding-left: 0 !important;
}

.ant-pro-sider-logo {
  background-color: #fff;
  padding-bottom: 0;
  padding-top: 0;
  height: 64px;
  padding-left: 48px !important;

  img {
    width: 100%;
  }

  h1 {
    display: none;
  }
}

.ant-pro-global-header {
  height: 64px;
  box-shadow: none;
}

.ant-drawer-mask {
  display: none;
}

.ant-design-pro {
  min-width: 768px;
  min-height: 100% !important;
}

.ant-layout {
  min-width: 768px;
  background-color: #f8f8f8;

  .ant-layout-header {
    height: 64px !important;
    line-height: 64px !important;
    min-width: 768px;
  }

  .ant-pro-fixed-header {
    height: 64px;
    line-height: 64px !important
  }
}

.ant-menu {
  padding-top: 12px;
}

.ant-menu-item-selected {
  background: transparent !important;
  user-select: none;

  .ant-pro-menu-item {
    color: @red;
  }

  .ant-pro-menu-item-title {
    color: @red  !important;
    font-weight: bold;
  }
}

.ant-pro-menu-item {
  span.anticon {
    font-size: 18px !important;
  }
}

.ant-menu-inline.ant-menu-root .ant-menu-item,
.ant-menu-inline.ant-menu-root .ant-menu-submenu-title {
  color: #222;
  line-height: 44px;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  padding-left: 48px !important;

  &:hover {
    background-color: rgba(0, 0, 0, .03);
  }

  &::after {
    display: none;
  }
}

.ant-menu-inline .ant-menu-item-group-list .ant-menu-submenu-title,
.ant-menu-inline .ant-menu-submenu-title {
  padding-right: 16px;
}

.ant-menu-sub.ant-menu-inline>.ant-menu-item,
.ant-menu-sub.ant-menu-inline>.ant-menu-submenu>.ant-menu-submenu-title {
  line-height: 32px;
  font-size: 14px;
  color: #222;
}

.ant-drawer-left>.ant-drawer-content-wrapper {
  box-shadow: none;
}

.ant-menu {
  padding-right: 24px;

  .ant-menu-sub.ant-menu-inline>.ant-menu-item,
  .ant-menu-sub.ant-menu-inline>.ant-menu-submenu>.ant-menu-submenu-title {
    padding-left: 72px !important;
  }

  .ant-menu-item {
    &:hover {
      background-color: rgba(0, 0, 0, .03) !important;
    }
  }
}

.ant-pro-sider-links ul.ant-menu-root {
  // width: 500px;
  height: 50px;
  // background-color: red;
  // position: absolute;
  left: 100px;
  top: 10px;
}

.ant-pro-sider.ant-layout-sider-light .ant-menu-item a {
  color: #222;
}

.ant-menu-inline.ant-menu-root .ant-menu-item,
.ant-menu-inline.ant-menu-root .ant-menu-submenu-title {
  padding-right: 50px;
}


/* 按钮 */
.ant-btn-primary {
  background-color: @red;
  color: #fff;
  border: none;

  &:hover {
    color: #fff;
    background-color: @red;
  }

  &:focus {
    color: #fff;
    background-color: @red;
  }
}

.ant-input {
  &:hover {
    border-color: @red;
  }
}

/* tab */
// :global {
.ant-tabs-nav {
  .ant-tabs-ink-bar {
    background-color: @red;
  }

  .ant-tabs-tab-active {
    color: #222;
  }


}

/* color */
.c1 {
  color: #666
}

.c2 {
  color: #999;
}

.c0 {
  color: #222;
}

.cr {
  color: @red;
}

.hover {
  &:hover {
    color: #999;
  }
}

::-webkit-scrollbar-thumb {
  height: 6px;
  border: 5px solid transparent;
  background-clip: padding-box;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, .2);
  box-shadow: inset -1px -1px 0 rgb(0 0 0 / 5%), inset 1px 1px 0 rgb(0 0 0 / 5%);
}


@media screen and (max-width: 1000px) {
  .garrContainer {
    padding: 0 32px;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1679px) {
  .garrContainer {
    padding: 0 48px;
  }
}

@media screen and (min-width: 1679px) and (max-width: 1920px) {
  .garrContainer {
    padding: 0 48px;
  }
}

/* 页面container */
.garrContainer {
  position: relative;
  min-height: calc(100vh - 220px);
  padding: 0 48px;
  margin: 0;
  background-color: #fff;
}

:global {
  .ant-pro-page-container-children-content {
    margin-top: 0 !important;
  }
}
